
{% block body %}


<div id="showModalContent" class="row align-items-start" >
       <div class="col">
            <!-- Form Element sizes -->
            <div class="card card-secondary">
              {#<div class="card-header">
                <h3 class="card-title">Vehicule</h3><a href="{{ path('app_piece_new') }}" style="float: right;" class="btn btn-primary"><i class="fa-solid fa-screwdriver-wrench"></i></a>
              </div>#}
              <div class="card-body" >
                 <table class="table table-striped" id="showModalContent">
                        <tbody>
                            <tr>
                                <th><img src="{{ vich_uploader_asset(vehicule, 'imageFile') }}" alt="{{ vehicule.imageName }}" style="width: 200px; height: 150px; border: 1px solid #000;
    padding: 5px;"></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Imatriculation</th>
                                <td>{{ vehicule.Imatriculation }}</td>
                            </tr>
                            <tr>
                                <th>Marque</th>
                                <td>{{ vehicule.Marque }}</td>
                            </tr>
                            <tr>
                                <th>Numero de Chassis</th>
                                <td>{{ vehicule.NBChassis }}</td>
                            </tr>
                            <tr>
                                <th>Structure d'Affectation</th>
                                <td>{{ vehicule.direction }}</td>
                            </tr>
                            <tr>
                                <th>Numero Moteur</th>
                                <td>{{ vehicule.NBMoteur }}</td>
                            </tr>
                            <tr>
                                <th>Puissace</th>
                                <td>{{ vehicule.Puissace }} Chevaux</td>
                            </tr>
                            <tr>
                                <th>Etat</th>
                                <td><a {% if vehicule.Etat == "Bon" %}class="btn btn-success"{% else %}class="btn btn-danger"{% endif %}>{{ vehicule.Etat }}</a></td>
                            </tr>
                            <tr>
                                <th>au vidange</th>
                                <td>{{ vehicule.Compteur }} km</td>
                            </tr>
                            <tr>
                                <th>assurance</th>
                                <td>{% set assurances_en_cours = vehicule.assurances|filter(a => a.fin > "now"|date) %}
                                    {% set assurances_expirees = vehicule.assurances|filter(a => a.fin <= "now"|date) %}

                                    {# Affichage des assurances en cours #}
                                    {% if assurances_en_cours is not empty %}
                                        {% for assurance in assurances_en_cours|sort((a, b) => a.fin <=> b.fin) %}
                                            <span>{{ assurance.numero }} - Fin : {{ assurance.fin|date('d/m/Y') }}</span> <br>
                                        {% endfor %}
                                    {% endif %}

                                    {# Affichage des assurances expirées en rouge #}
                                    {% if assurances_expirees is not empty %}
                                        {% for assurance in assurances_expirees|sort((a, b) => a.fin <=> b.fin) %}
                                            <span style="color: red; font-weight: bold;">
                                                {{ assurance.numero }} - Fin : {{ assurance.fin|date('d/m/Y') }} (Expirée)
                                            </span> <br>
                                        {% endfor %}
                                    {% endif %}

                                    {# Si aucune assurance n'a jamais été enregistrée #}
                                    {% if vehicule.assurances is empty %}
                                        <span style="color: red; font-weight: bold;">Aucune assurance enregistrée</span>
                                    {% endif %}
                                    </td>
                            </tr>
                            <tr>
                                <th> A vidange</th>
                                <td>{{vehicule.vidange + 5000 }} km</td>
                            </tr>
                            <tr>
                                <th>à l'echange des pneus</th>
                                <td>{{ vehicule.pneus }} km</td>
                            </tr>
                            <tr>
                                <th>change les pneus à</th>
                                <td>{{ vehicule.pneus + 50000 }} km</td>
                            </tr
                        </tbody>
                    </table>   
              </div>
              <!-- /.card-body -->
         </div>
    </div>
    
{% endblock %}


  