{% extends 'base.html.twig' %}

{% block title %}Missions de {{ agent.nom }} {{ agent.prenom }}{% endblock %}

{% block body %}
<div class="row align-items-start">
    <div class="col">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    {{ agent.nom }} {{ agent.prenom }} - Liste des missions effectuées
                </h3>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_evenement_new') }}" style="float: right;" class="btn btn-primary">
                        <i class="fa-regular fa-calendar-plus"></i>
                    </a>
                {% endif %}
            </div>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Titre</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Description</th>
                            <th>Durée</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set currentDate = "now"|date("Y-m-d") %}

                        {% for evenement in evenements %}
                            {% set statut = '' %}
                            {% if evenement.debut and evenement.fin %}
                                {% set debut = evenement.debut|date("Y-m-d") %}
                                {% set fin = evenement.fin|date("Y-m-d") %}
                                {% if debut <= currentDate and currentDate <= fin %}
                                    {% set statut = 'En cours' %}
                                {% elseif fin > currentDate %}
                                    {% set statut = 'Réservé' %}
                                {% else %}
                                    {% set statut = 'Fini' %}
                                {% endif %}
                            {% endif %}

                            <tr>
                                <td>
                                    {% if statut == 'En cours' %}
                                        <span class="btn btn-success">{{ statut }}</span>
                                    {% elseif statut == 'Réservé' %}
                                        <span class="btn btn-warning">{{ statut }}</span>
                                    {% else %}
                                        <span class="btn btn-danger">{{ statut }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ evenement.titre }}</td>
                                <td>
                                    {% if evenement.Chauffeur is defined and evenement.Chauffeur %}
                                        {{ evenement.Chauffeur.nom ~ ' ' ~ evenement.Chauffeur.prenom }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ evenement.debut ? evenement.debut|date('d-m-Y') : '-' }}</td>
                                <td>{{ evenement.fin ? evenement.fin|date('d-m-Y') : '-' }}</td>
                                <td>
                                    {% if evenement.debut and evenement.fin %}
                                        {% set duration = ((evenement.fin.timestamp() - evenement.debut.timestamp()) / 86400) | round(0, 'floor') %}
                                        {{ duration }} jours
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Aucune mission trouvée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
