{% extends 'base.html.twig' %}

{% block title %}Assurance{% endblock %}

{% block body %}
    <h1>Assurance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ assurance.Numero }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ assurance.debut ? assurance.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ assurance.fin ? assurance.fin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assurance_index') }}">back to list</a>

    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">edit</a>

    {{ include('assurance/_delete_form.html.twig') }}
{% endblock %}
