{% extends 'base.html.twig' %}

{% block title %}UserAction index{% endblock %}

{% block body %}
    <h1>UserAction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_action in user_actions %}
            <tr>
                <td>{{ user_action.id }}</td>
                <td>{{ user_action.description }}</td>
                <td>{{ user_action.createdAt ? user_action.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_action_show', {'id': user_action.id}) }}">show</a>
                    <a href="{{ path('app_user_action_edit', {'id': user_action.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_action_new') }}">Create new</a>
{% endblock %}
